body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c0c0c;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ui span {
    background: #0c0c0c;
    box-sizing: border-box;
    display: block;
    height: 25px;
    opacity: 0.9;
    position: fixed;
    width: 150px;
}

#life {
    border: 1px solid #ff6666;
    border-left: 150px solid #ff6666;
    top: 10px;
    left: 10px;
}

#ammo {
    border: 1px solid #ffa500;
    border-left: 150px solid #ffa500;
    top: 45px;
    left: 10px;
}

#laser {
    border: 1px solid #00d4ad;
    border-left: 150px solid #00d4ad;
    top: 45px;
    left: 10px;
    opacity: 0;
}