body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c0c0c;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ui span {
    background: #0c0c0c;
    box-sizing: border-box;
    display: block;
    height: 25px;
    opacity: 0.9;
    position: fixed;
    width: 150px;
}

.ui #score {
    background: transparent;
    color: #fff;
    font-family: "Joystix Monospace", "Consolas";
    font-size: 16px;
    height: auto;
    right: 0;
    padding: 5px 15px;
    width: auto;
}

#life {
    border: 1px solid #ff6666;
    border-left: 150px solid #ff6666;
    top: 10px;
    left: 10px;
}

#ammo {
    border: 1px solid #ffa500;
    border-left: 150px solid #ffa500;
    top: 45px;
    left: 10px;
}

#laser {
    border: 1px solid #00d4ad;
    border-left: 150px solid #00d4ad;
    top: 45px;
    left: 10px;
    opacity: 0;
}

#over {
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: none;
    font-family: "Joystix Monospace", "Consolas";
    font-size: 24px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    line-height: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

#over .reload {
    color: salmon;
    cursor: pointer;
    text-decoration: none;
}

#over.success .failure{
    display: none;
}

#over.failure .success{
    display: none;
}